/basedata-service/src/main/resources/application-dev.properties
/fixture-service/src/main/resources/application-dev.properties
/go-services/authentication-service/.env
/go-services/authentication-service/authentication-service
/go-services/score-tracker
