/basedata-service/src/main/resources/application-dev.properties
/fixture-service/src/main/resources/application-dev.properties
/authentication-service/.env
/authentication-service/authentication-service
